.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.about-section hr {
  width: 90%;
  margin-top: 30px;
  border: none;
  border-top: 2px solid rgba(141, 141, 141, 0.379);
}

.about-container {
  display: flex;

  margin: 30px 70px 0px 70px;
  border-radius: 10px;
  overflow: hidden;
}

.about-container h1 {
  display: flex;

  justify-content: center;
}

.subheader {
  text-align: center;
}

.about-container h2 {
  font-size: 30px;
}

.about-text-container {
  /* background-color: rgb(241, 253, 239); */
  background-color: rgb(25, 25, 25);
  display: flex;
  max-width: 700px;
  max-height: 600px;
  align-items: center;
}

.about-text {
  color: aliceblue;
  font-family: 'print_clearly';
  font-size: x-large;
  font-weight: 500;
  margin-left: 10px;
  padding: 20px;
}

.about-img {
  max-height: 600px;
  max-width: 600px;
}

@media screen and (max-width: 1500px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    max-width: 700px;
    width: 700px;
  }
  .about-text-container {
    width: 800px;
  }
  .about-text-container {
    order: -1;
  }
}

@media screen and (max-width: 700px) {
  .about-container {
    width: 100%;

    border-radius: 0;
  }

  .about-section hr {
    margin-top: 50px;
  }

  .about-img,
  .about-text-container {
    width: 100%;
    max-width: none;
  }

  .about-text-container {
    max-height: none;
  }

  .about-section {
    padding: 0;
    margin: 0;
  }
  .about-container {
    margin: 0;
    padding: 0;
  }
}
