.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.about-section hr {
  width: 90%;

  border: none;
  border-top: 2px solid rgba(141, 141, 141, 0.379);
}

.about-container {
  display: flex;

  margin: 150px 70px 150px 70px;
  border-radius: 10px;
  overflow: hidden;
}

.about-container h1 {
  display: flex;

  justify-content: center;
}

.subheader {
  text-align: center;
}

.about-container h2 {
  font-size: 30px;
}

.about-text-container {
  /* background-color: rgb(241, 253, 239); */
  background-color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
}

.about-text {
  color: aliceblue;
  font-family: 'print_clearly';
  font-size: x-large;
  font-weight: 500;
  margin-left: 10px;
  padding: 20px;
}

.about-img {
  flex: 1;
  width: 600px;
}
