.contact-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
}

.contact-sect hr {
  width: 90%;
  margin-bottom: 40px;
  margin-top: 50px;
  border: none;
  border-top: 2px solid rgba(141, 141, 141, 0.379);
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  background-color: rgb(20, 20, 20, 0.9);
  height: 500px;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 15px;
}

.input-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-inputs {
  width: 250px;
  height: 30px;
  font-size: medium;
  font-family: fantasy;
}

.message-input {
  width: 300px;
  height: 100px;
  font-size: medium;
  font-family: fantasy;
}

button {
  padding: 3px;
  margin-top: 5px;
  cursor: pointer;
}

.contact-text {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.contact-text h2 {
}

.contact-container hr {
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
}
