footer {
  min-height: 250px;
  background-color: rgba(20, 20, 20, 0.9);
  color: #ffffff;
  width: 100%;
  font-family: 'print_clearly';
  font-size: 20px;

  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('titiru-coral-rescale2.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.footer-item {
  text-align: center;

  flex: 1;
}

.footer-item h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.footer-item p {
  margin: 0;
}

.contact-sect {
  display: flex;
  justify-content: center;
  height: 30%;
}

.location-sect {
  display: flex;
}

.map-container {
  margin: auto;
  height: 200px;
  width: 300px;
}

.footer-item iframe {
  width: 100%;
  height: 100%;
}

.connect-sect {
  display: flex;
  justify-content: center;
  height: 50%;
}

.connect-sect img {
  margin: 10px 5px 0px 5px;
  justify-content: center;
  width: 40px;
  height: 40px;
}
