.navbar {
  background: rgba(1, 8, 0, 0.8);
  color: #fff;
  height: 70px;
  position: relative;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: none;
  border-radius: 15px;
  margin: 20px;
}

.nav-logo {
  color: #fff;
  text-decoration: none;
  font-family: 'Tropical';
  font-size: xx-large;
  /* font-weight: bold; */
  margin: 16px 0px 16px 50px;
  cursor: pointer;
}

.nav-logo:hover {
  color: bisque;
}

.hamburger-button {
  display: none;
}

.nav-menu {
  /* margin-right: 50px; */
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  justify-content: end;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: x-large;
  font-family: 'print_clearly';
}

.nav-link:hover {
  color: bisque;
}

/* @font-face {
  font-family: 'Tropical';
  src: url('Tropical.ttf') format('woff2');
  font-display: swap;
} */

@media screen and (max-width: 960px) {
  .hamburger-button {
    margin-right: 25px;
    display: flex;
    padding: 16px 32px 16px 0px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .hamburger-button img {
    width: 30px;
    height: auto;
  }

  .nav-menu.active {
    left: 0;
    transition: all 0.5s ease;
  }

  .nav-menu {
    background: rgba(13, 17, 26, 0.7);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    left: -110%;
    transition: all 0.5s ease;
    border-radius: 15px;
  }

  .nav-link {
    text-align: center;
    padding: 2rem;
    width: 100%;
  }

  .nav-link:hover {
    background-color: #ffffff21;
    transition: all 0.5s ease;
    border-radius: 0;
  }
}
