* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('compressed-leave-green.jpg');
  background-position: 0;

  margin-left: 125px;
  margin-right: 125px;
}

@font-face {
  font-family: 'Tropical';
  src: url('Tropical.ttf');
}

@font-face {
  font-family: 'print_clearly';
  src: url('print_clearly_tt.ttf');
}

@media screen and (max-width: 1060px) {
  body {
    margin: 0;
  }
}
